<div class="subcard_holder">
<mat-grid-list cols="2" rowHeight="1:2">
    <mat-grid-tile>
        <div class="column left"></div>     
        <mat-card class="subscription-card">
            <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>REGULAR</mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
            </mat-card-header>
            <!--
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            -->
            <mat-card-content>
            <br>
                <ul>
                    <li>
                        aaa
                    </li>
                    <li>
                        bbb
                    </li>
                </ul>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" type="sumbit">Subscription</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <div class="column left"></div>     
        <mat-card class="subscription-card">
            <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Premium</mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
            </mat-card-header>
            <!--
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            -->
            <mat-card-content>
                <br>
                <ul>
                    <li>
                        aaa
                    </li>
                    <li>
                        bbb
                    </li>
                </ul>
            </mat-card-content>
            <mat-card-actions>
            <button mat-raised-button color="primary" type="sumbit">Subscription</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>
</div>