<form class="Form-login" [formGroup]="formGroup" (ngSubmit)="changepwd()">
    <div class="settings-container">
      <br />
      <mat-form-field appearance="fill">
        <mat-label>Enter your current password</mat-label>
        <input
          matInput
          [type]="hide ? 'password' : 'text'"
          formControlName="cpassword"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>
      <br />
      <mat-form-field appearance="fill">
        <mat-label>Enter your new password</mat-label>
        <input
          matInput
          [type]="hide ? 'password' : 'text'"
          formControlName="npassword"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>
      <br />
      <button mat-raised-button color="primary" type="sumbit">
        Reset Password
      </button>
  
      <div *ngIf="loadingService.isLoading | async">
        <mat-spinner></mat-spinner>
      </div>
    </div>
  </form>
  