<form class="Form-login" [formGroup]="formGroup" (ngSubmit)="login()">
    <div class="login-container">

      <mat-form-field appearance="fill">
        <mat-label>Enter your username </mat-label>
        <input required matInput formControlName="username" />
      </mat-form-field>
      <br />
      <mat-form-field appearance="fill">
        <mat-label>Enter your password</mat-label>
        <input
          matInput
          [type]="hide ? 'password' : 'text'"
          formControlName="password"
          required
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>
  
      <br />
      <p>
        <button mat-raised-button color="primary" type="sumbit">Log In</button>
      </p>
      <p>Are You A New Comer ? <a href="/signup">Register</a></p>
    </div>
    <div style="margin: 0;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size:xx-large" *ngIf="loadingService.isLoading | async" class="loader-container">
      <mat-spinner></mat-spinner>
    </div>
  </form>
  